.common-button {
  height: 3.375rem;
  min-width: 9.375rem;
  border-radius: 1.6875rem;
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  p {
    margin: 0;
    padding: 0 0.4rem
  }
  &.btn-primary {
    background-color: var(--primary);
    color: var(--white);
  }
  &.btn-danger {
    background-color: var(--danger);
    color: var(--white);
  }
  &.btn-secondary {
    background-color: var(--grey-bg);
    color: var(--soft-black);
  }
}