.priority-indicator {
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 50%;
  margin: 0 0.25rem;
  &.very-high {
    background-color: #ED4C5C;
  }
  &.high {
    background-color: #F8A541;
  }
  &.normal {
    background-color: #00A790;
  }
  &.low {
    background-color: #428BC1;
  }
  &.very-low {
    background-color: #8942C1;
  }
}