.sort-dropdown .dropdown-toggle {
  background: none;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  border: 1px solid var(--divider);
  margin: 0 1.125rem;
}
.sort-dropdown .dropdown-toggle::after {
  display: none;
}
.sort-dropdown .dropdown-menu {
  border-radius: 0.375rem;
}
.sort-dropdown .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid var(--divider);
}
.sort-dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  height: 3.25rem;
}
.sort-dropdown .dropdown-menu .dropdown-item svg {
  width: 1.125rem;
  height: 1.125rem;
}
.sort-dropdown .dropdown-menu .dropdown-item p {
  margin: 0 1rem;
}
