.modal-delete {
  border-radius: 0.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  position: relative;
  z-index: 1000;
  min-width: 500px;
}
.modal-delete .modal-delete__img {
  width: 5rem;
  height: 4rem;
  margin: 1rem 0 3rem 0;
}
.modal-delete .modal-delete__message {
  text-align: center;
  font-size: 1.123rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.875rem;
  color: var(--black);
}
.modal-delete .modal-delete__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 0.625rem;
}
.modal-delete .modal-delete__buttons button {
  margin: 0 0.625rem;
}
