.task-card {
  background-color: var(--white);
  height: 5rem;
  border-radius: 12px;
  position: relative;
  padding: 0 1.75rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.task-card .task-wrapper {
  display: flex;
  align-items: center;
}
.task-card .task-wrapper .form-check {
  min-height: auto;
  margin-bottom: 0;
  margin-right: 1rem;
}
.task-card .task-wrapper .form-check .form-check-input {
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 0;
  border-radius: 0;
}
.task-card .task-wrapper p {
  margin: 0;
  padding: 0 1rem;
}
.task-card .task-wrapper .todo-done {
  color: var(--grey-text);
  text-decoration: line-through;
}
.task-card .task-card__edit-icon,
.task-card .task-card__delete-icon {
  background: none;
  border: none;
}
