main {
  min-height: 100vh;
  header {
    position: sticky;
    top: 0;
    left: 0;
    height: 105px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    h2 {
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1000px;
    }
  }
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 43px 0px 55px 0px;
  .content-header-wrapper {
    display: flex;
    align-items: center;
  }
  .content-header__back-icon,
  .content-header__edit-icon {
    background: none;
    border: none;
    outline: none;
  }
  .content-header__back-icon {
    margin-right: 1rem;
  }
  .content-header__edit-icon {
    margin-left: 1rem;
  }
  .content-header__title-input,
  .content-header__title {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
  }
  .content-header__title-input {
    background: none;
    border: none;
    outline: none;
    max-width: 18rem;
    height: 3.375rem;
  }
}

.empty-item {
  text-align: center;
}
